html {
    background-color: #fff;
}

#splash-scene
{
    background-image: url(/static/img/splash-scene.png);
    background-size: 320px 480px;
    width: 320px;
    height: 480px;

    margin-left:auto;
    margin-right:auto;
}

/* HACK, everything is covered by the background image */
#splash-scene h1, #splash-scene p
{
    display: none;
}

#splash-scene a
{
    display: block;
    width: 320px;
    height: 480px;
    text-indent: -1000000px;
}

#loading-scene
{
    background-image: url(/static/img/loading.png);
    background-size: 320px 480px;
    width: 320px;
    height: 480px;

    margin-left:auto;
    margin-right:auto;
}

/* HACK, everything is covered by the background image */
#loading-scene h1, #loading-scene p
{
    display: none;
}

#no-gps-scene
{
    background-image: url(/static/img/no-gps-scene.png);
    background-size: 320px 480px;
    width: 320px;
    height: 480px;

    margin-left:auto;
    margin-right:auto;
}

#map-scene
{
    width:100%;
    height:100%;
    overflow: hidden;
}

#canvas
{
    float: left;
}

#map
{
    position: relative;
}

#you
{
    position: fixed;
    width: 70px;
    height: 70px;
    z-index: 100;
}

#story
{
    position: relative;
}

#storyfound
{
    position: relative;
    background-image: url(/static/img/storyfound.png);
    background-size: 320px 480px;
    width: 320px;
    height: 480px;
    top: 50px;
    left: 10px;

    margin-left:auto;
    margin-right:auto;
}

#playstoryfound
{
    background-image: url(/static/img/playstoryfound.png);
    background-size: 320px 480px;

    width: 320px;
    height: 60px;
}

#playstoryfound
{
    background-image: url(/static/img/pausestoryfound.png);
    background-size: 320px 480px;
    width: 320px;
    height: 60px;
}

#debug {
    display: none;
    color: black;
    background-color: transparent;
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
}

.place
{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 50;
}

/*#lines
{
    position: relative;
    width:100%;
    height:100%;
}*/
