html {
    background-color: #000;
}

#viewport
{
    width:100%;
    height:100%;
    overflow: hidden;
}

#debug {
    color: gray;
    background-color: transparent;
    z-index: 1000;
    position: absolute;
}

#you {
    position:fixed;
    width: 20px;
    height: 20px;
/*    left: 45%;
    top: 45%;*/
    z-index: 100;
}

#map {
    position:fixed;
}