<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>{{ title }}</title>

    <link href="/static/css/base.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
  </head>
  <body>
    <div id="viewport">
      <div id='map'>
        <img id="you" src="/static/img/you.png" />
        <img id="school" src="/static/img/school.png" />
        <img id="althyduhusid" src="/static/img/althyduhusid.png" />
      </div>
      <img id='button' src="/static/img/button.png" />
      <div id="debug">
        <div id="location"></div>
        <div id="orientation"></div>
        <div id="window"></div>
        <div id="gpsframe"></div>
        <div id="convertion"></div>
        <div id="framelocation"></div>
      </div>
    </div>
    <div id="soundport">
      <audio id="440Hz" src="/static/audio/440Hz-5sec.mp3"  />
      <audio id="wave" src="/static/audio/16Hz-20kHz-Exp-1f-5sec.mp3"  />
    </div>
  </body>
</html>
